.start_learning_button {
  display: flex;
  float: left;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .social {
    flex-direction: column;
    align-items: center;
  }
}
.writerimg {
  width: 80px !important;
}
@media screen and (max-width: 428px) {
  .writer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 428px) {
  .writercard {
    max-width: 121px;
    padding: 2px;
    border: none;
  }
}
